:root {
  --main-color: #fff;
  --bg-color: #674baf;
  --active-state: #e882e8;
  --box-shadow-color: #00000034;
  --font-headings: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  row-gap: 5rem;
  min-block-size: 100vh;
  max-inline-size: 144rem;
  margin-inline: auto;
  padding-block: 4rem;
  padding-inline: clamp(4rem, 5.555555555555556vw, 8rem);
  font: normal 400 1.58rem var(--font-body);
  color: var(--main-color);
  background-color: var(--bg-color);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header { grid-area: header; }
.header__logo {
  inline-size: clamp(13rem, 15.27777777777778vw, 22rem);
  transform: translateX(-2%);
}

.main { grid-area: main; }

.community__img-wrapper:not(:last-child) {
  margin-block-end: 7rem;
  transition: all .5s;
}
.community__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.community__container {
  text-align: center;
  transition: text-align .5s;
}
.community__title,
.community__button { font-family: var(--font-headings); }
.community__title {
  margin-block-end: 1.5rem;
  font-size: 2.6rem;
  font-weight: 600;
}
.community__text {
  margin-block-end: 2.5rem;
  line-height: 1.7;
}
.community__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 21rem;
  block-size: 4.5rem;
  font-size: 1.3rem;
  color: var(--bg-color);
  text-decoration: none;
  background-color: var(--main-color);
  border-radius: 3rem;
  box-shadow: 0 .6rem 1rem 0 var(--box-shadow-color);
  transition: all 140ms;
}
.community__button:hover,
.community__button:focus {
  color: var(--main-color);
  background-color: var(--active-state);
}

.footer {
  grid-area: footer;
  text-align: center;
}
.footer__links-container {
  margin-block-end: 2rem;
  font-size: 2rem;
}
.footer__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 4rem;
  block-size: 4rem;
  fill: var(--main-color);
  border: .1rem solid var(--main-color);
  border-radius: 50%;
  transition: all 140ms;
}
.footer__link:not(:last-child) { margin-inline-end: 1rem; }
.footer__link:hover,
.footer__link:focus {
  fill: var(--active-state);
  border: .1rem solid var(--active-state);
}

.attribution { font-size: 1rem; }
.attribution__link { transition: all 140ms; }
.attribution__link:hover { color: var(--active-state); }
.attribution__link:focus {
  padding: .2rem;
  border: .1rem solid var(--active-state);
  border-radius: .5rem;
}

@media (min-width: 48em) {
  body {
    padding-block: 6.7rem 3rem;
    font-size: 1.6rem;
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    background-position-y: center;
  }

  .header {
    align-self: start;
  }

  .main { align-self: center; }

  .community { display: flex; }
  .community__img-wrapper,
  .community__container { flex-basis: 50%; }
  .community__img-wrapper:not(:last-child) {
    margin-block-end: 0;
    margin-inline-end: clamp(3rem, 4.166666666666667vw, 6rem);
  }
  .community__container {
    text-align: start;
    padding-block-start: clamp(0rem, 3.263888888888889vw, 4.7rem);
  }
  .community__title { font-size: clamp(2.6rem, 2.430555555555556vw, 3.5rem); }

  .footer { align-self: end; }

  .attribution { font-size: 1.1rem; }
}

@media (min-width: 64em) {
  .community__img-wrapper { flex-basis: 59%; }
  .community__container { flex-basis: 41%; }
  .community__title { inline-size: 20ch; }
  .community__text { inline-size: 50ch; }
  .community__button {
    inline-size: 18rem;
    block-size: 5rem;
    font-size: 1.6rem;
    box-shadow: 0 1rem 1rem 0 var(--box-shadow-color);
  }

  .footer { text-align: end; }
}
